*{
    background-color: #202c3c;
}

@keyframes increaseSize {
    from{
        height: 13rem;
    }
    to{
        height: 18rem;
    }
}

.increase:hover{
    animation-name: increaseSize;
    animation-duration: 3s;
}
